/* Button Styles */


/* Modal Styles */
#modalOverlay {
  display: none; /* Ensure the modal is hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

#modalBox {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 400px;
  text-align: left;
}
